@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Amsterdam";
}

/* UTILS */

.flex{
  display: flex;
}

ul,ol,li{
  list-style-type: none;
}

body {
  height: 100vh;
}

#navbar {
  height: 10vh;
  margin: 30px 80px 20px 80px;
  padding: 20px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black;/ */
  font-weight: bold;
}
.logo {
  font-size: 25px;
  color: rgb(80, 46, 204);
}

.logo:hover {
  background-color: rgb(152, 67, 231);
  border-radius: 45px;
  padding: 15px;
  color: whitesmoke;
  transform: scale(0.9);
  transition: 3s;
}

.right {
  font-size: larger;
  color: blueviolet;
  /* font-weight: 600; */
}

a {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: blueviolet;
  /* font-weight: 500; */
}

#Contact {
  border-radius: 30px;
  font-size: large;
  padding: 12px;
  color: white;
  /* font-weight: 600; */
  background-color: blueviolet;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  /* border: 2px solid; */
}

#photo {
  border-radius: 50%;
  height: 150px;
  padding: 10px 20px;
  /* width: 200px; */
}
#Tagline {
  margin-bottom: 20px;
  color: blueviolet;
  font-weight: bold;
}

#seprt {
  color: blueviolet;
  font-weight: bold;
}
.content {
  width: 800px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px 20px 30px;
  line-height: 30px;
}

.complogo {
  margin: 15px;
  font-size: 30px;
  padding: 0 15px 0 15px;
  color: blueviolet;
}

#landportimg {
  width: 700px;
}

.langwrapper {
  background-color: lightyellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0 10px 0;
  padding: 15px 10px 15px 10px;
}

.iconwrap {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.langlogo {
  color: blueviolet;
  font-size: 100px;
  opacity: 0.7;
}

#pcolor {
  color: rgb(4584b6, r g b);
}

.phover {
  opacity: 0;
}

.iconwrap:hover .phover {
  color: blueviolet;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.81s ease;
  opacity: 1;
}

.iconwrap:hover .langlogo {
  transition: all 0.81s ease-out;
  transform: scale(1);
  font-size: 130px;
  opacity: 1;  
}

.langtags-Projects {
  margin-top: 30px;
  font-size: 40px;
  color: lightcoral;
}

#LangSpan {
  color: #8a2be2;
}

.Project-Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.Project-image{
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Project-image img{
  width: 750px;
  height: 550px;
  border-radius: 2em;
  box-shadow: 30px 30px 20px gray;
}

.Project-Content{
  position: absolute;
  margin-bottom: 30px;
  width: 30em;
  opacity: 0;
  color: #8a2be2;
  /* Flex code */
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transform: translate(-50%, 50%); */
  /* gap: 50px; */
  font-weight: bold;
  font-style: italic;
  gap: 80px;


  /* Grid code */
    /* display: grid;
    grid-template-rows: 40% 40% 10%;
    gap: 30px;
    height: 100%;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
    color: green; */
}

.Project-Content p{
  font-size: 26px;
  margin-top: 80px;
  font-weight: bolder;
}

.Project-image:hover .Project-Content{
  opacity: 1;
  transform: scale(0.8s);
  transition: all 0.81s ease-in-out;
}

footer{
  width: 100%;
  margin-top: 10px;
  background-color: #8a2be2;
  padding: 1em;
  color: #ffffff;
}

.logo-social_icons{
  align-items: center;
  justify-content: space-between;
}

.footer-logo img{
  width: 180px;
}

.footer-content{
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
}

/* @media only screen and (max-width: 688px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
  }
  #navbar {
    height: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prevent-select {
    -webkit-user-select: none; /* Safari */
/* -ms-user-select: none; IE 10 and IE 11 */
/* user-select: none; Standard syntax */
/* } */
/* } */
